# ===== Node.js / Backend =====
/backend/server/node_modules/
/backend/server/dist/
/backend/server/.env
/backend/server/*.log
/backend/server/package-lock.json

# ===== React / Frontend =====
/frontend/client/node_modules/
/frontend/client/build/
/frontend/client/.env
/frontend/client/*.log
/frontend/client/package-lock.json

# ===== Database =====
# *.sqlite3 
# *.db                       

# ===== OS / Misc =====
.DS_Store
Thumbs.db
*.tmp 

# ===== IDE / Editor =====
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ===== Logs =====
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===== Optional =====
/coverage/
/package.json