version: "3.9"

services:
  backend:
    build: ./backend
    container_name: backend
    working_dir: /backend
    command: node server/index.js
    ports:
      - "5000:5000"
  

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend