.groupPanel {
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

.groupInfo {
  min-width: 0;
  margin: 5px 0;
}

.buttonBox {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  /* max-width: 100%;
  display: flex; */
  /* justify-content: space-between; */
}

.buttonBox * {
  max-width: 100%;
  margin: 0 15px;
  min-width: 90px;
}

@media(max-width:800px) {
  /* .buttonBox {
    flex-direction: column;
    justify-content: space-between;
  } */
  .buttonBox {
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: repeat(2,1fr); */
  }
  .buttonBox * {
    max-width: 100%;
    margin: 5px 5px;
  }

  /* .groupPanel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 5px; 
  } */

  .groupInfo h1{
    font-size: 1em;
  }
}
@media(max-width: 450px) {
  .buttonBox * {
    max-width: 100%;
    margin: 2px 2px;
  }
}